@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>

<address>
    Adrian Phillips - 101644658, Diploma of Software Development<br />
    Swinburne University of Technology<br />
    John St, Hawthorn VIC 3122<br />
    <abbr title="Phone">P:</abbr>
    (03) 9214 8000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:age_betti@hotmail.com">Email</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/age-betti/TGVE">Repo</a>
</address>