@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TGVE</h1>
    <p class="lead">The Grape Vine Experience (TGVE) is an organisation than run wine tours throughout Victoria.</p>
</div>

<div>
    @Html.ActionLink("Clients", "Index", "Clients")<br />
    @Html.ActionLink("Tours", "Index", "Tours")<br />
    @Html.ActionLink("Events", "Index", "Events")<br />
    @Html.ActionLink("Bookings", "Index", "Bookings")
</div>