@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>


<p>
    The Grape Vine Expierience has been running for about 6 years. <br />
    The organisation plans to increase marketing and create more tours and also<br />
    expand further into regional Victoria as well as other Australian states.
</p>